/vs/LearningVulkan/.vs/
/vs/LearningVulkan/Debug/
/vs/LearningVulkan/base/Debug/
/vs/LearningVulkan/ktx/Debug/
/vs/LearningVulkan/imgui/Debug/
/vs/LearningVulkan/Triangle/Debug/
/vs/LearningVulkan/Pipeline/Debug/
/vs/LearningVulkan/DescriptorSets/Debug/
/vs/LearningVulkan/DynamicUniformBuffer/Debug/
/vs/LearningVulkan/InputAttachments/Debug/
/vs/LearningVulkan/PushConstants/Debug/
/vs/LearningVulkan/SpecializationConstants/Debug/
/vs/LearningVulkan/Texture/Debug/
/vs/LearningVulkan/TextureCubeMap/Debug/
vs/LearningVulkan/GltfScene/Debug/
vs/LearningVulkan/Subpasses/Debug/
vs/LearningVulkan/Texture3D/Debug/
vs/LearningVulkan/TextureArray/Debug/
vs/LearningVulkan/OffScreen/Debug/
vs/LearningVulkan/ParticleFire/Debug/
vs/LearningVulkan/StencilBuffer/Debug/