/vs/LearningVulkan/.vs/
/vs/LearningVulkan/Debug/
/vs/LearningVulkan/base/Debug/
/vs/LearningVulkan/ktx/Debug/
/vs/LearningVulkan/imgui/Debug/
/vs/LearningVulkan/Triangle/Debug/
/vs/LearningVulkan/Pipeline/Debug/
/vs/LearningVulkan/DescriptorSets/Debug/
/vs/LearningVulkan/DynamicUniformBuffer/Debug/
/vs/LearningVulkan/InputAttachments/Debug/
/vs/LearningVulkan/PushConstants/Debug/
/vs/LearningVulkan/SpecializationConstants/Debug/
/vs/LearningVulkan/Texture/Debug/
/vs/LearningVulkan/TextureCubeMap/Debug/
vs/LearningVulkan/GltfScene/Debug/
vs/LearningVulkan/Subpasses/Debug/
vs/LearningVulkan/Texture3D/Debug/
vs/LearningVulkan/TextureArray/Debug/
vs/LearningVulkan/OffScreen/Debug/
vs/LearningVulkan/ParticleFire/Debug/
vs/LearningVulkan/StencilBuffer/Debug/
vs/LearningVulkan/HighDynamicRange/Debug/
vs/LearningVulkan/MultiSampling/Debug/
vs/LearningVulkan/MultiThreading/Debug/
vs/LearningVulkan/OmnidirectionalShadowMapping/Debug/
vs/LearningVulkan/RuntimeMipMapGeneration/Debug/
vs/LearningVulkan/SceneRendering/Debug/
vs/LearningVulkan/ScreenShoot/Debug/
vs/LearningVulkan/ShadowMapping/Debug/
vs/LearningVulkan/ShadowMappingCasCade/Debug/
vs/LearningVulkan/MultiThreading/Debug/
vs/LearningVulkan/IndirectDraw/Debug/
vs/LearningVulkan/Instancing/Debug/
vs/LearningVulkan/OcclusionQueries/Debug/
vs/LearningVulkan/PipelineStatistics/Debug/